/*styles for 480px and up!*/
@media only screen and (min-width: 480px) {
	body {
		background: red;
	}
	
}

/*styles for 768px and up!*/
@media only screen and (min-width: 768px) {
	body{
		background: green;
	}
}

/*styles for 920px and up!*/
@media only screen and (min-width: 920px) {
	body {
		background: black;
	}
}

/*styles for 1382px and up!*/
@media only screen and (min-width: 1382px) {
	body {
		background: white;
	}
}