<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body bgcolor="#ffffff" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">


<table width="600" border="0" bgcolor="#00b2d9" align="center" cellspacing="0" cellpadding="0">
    <tbody>
    <tr>

        <td width="600" height="114">
            <a target="_blank" style="border:none"
               href="http://BRUXX.be/met4opreis" alt="" title="">
                <img width="600" height="114" border="0"
                     src="http://www.eproof.be/assets/Bruxx/bfff/top.jpg"
                     alt="" style="display:block">

            </a>
        </td>
    </tr>
    </tbody>
</table>
            {% block body %}
            {% endblock %}


            <table width="600" border="0" bgcolor="#00b2d9" align="center" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="600"><img src="http://www.eproof.be/assets/Bruxx/bfff/bottom.jpg"></td>

                </tr>
                </tbody>
            </table>
            <table width="600" border="0" bgcolor="#ffffff" align="center" cellspacing="0" cellpadding="0">
                <tbody>
                <tr>
                    <td width="20" height="36">&nbsp;</td>
                    <td valign="middle" height="36" style="font-family:Arial;font-size:11px;color:#3b4449">
                        <a target="_blank" style="font-family:Arial;font-size:11px;color:#3b4449;text-decoration:underline"
                           href="http://www.bruxx.be" alt="" title="">Bezoek de
                            website</a>
                    </td>
                    <td width="10" height="36">&nbsp;</td>
                    <td valign="middle" height="36" align="right"><a target="_blank"
                                                                     style="font-family:Arial;font-size:11px;color:#3b4449;text-decoration:underline"
                                                                     href="https://www.facebook.com/bruxx.be"
                                                                     alt="" title="">Bekijk onze facebook pagina</a></td>


                    <td width="20" height="36">&nbsp;</td>
                </tr>
                </tbody>
            </table>
</body>
</html>


